@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.navbar-logo {
    /* display: block; */
    /* height: 1rem;
    width: 1rem; */
    /* max-width: 50px; */
    /* padding-top: 0.7rem; */

    /* second design */
    width: 40px;
    height: auto;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-elements ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav-elements ul li {
    margin: 0 10px;
}

.nav-elements ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-elements ul li a:hover {
    text-decoration: overline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .nav-elements {
        flex-direction: column;
    }

    .nav-elements ul li {
        margin: 10px 0;
    }

    .navbar-logo {
        width: 30px;
    }
}